/*---------*/
/* General */
/*---------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.main-section {
    width: 100%;
    height: 85vh;
    background-color: #000000;
}


/*------*/
/* Flex */
/*------*/

.flex {
    display: flex;
}

.grow {
    flex-grow: grow;
}

.col-33 {
    flex-basis: 33.3333%;
}

.col-14 {
    flex-basis: calc(100% / 7);
}

.v-align {
    align-items: center;
}


/*------------*/
/* Typography */
/*------------*/

a,
p {
    font-size: 14px;
}


/*---------*/
/* Buttons */
/*---------*/

.top-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #4A4A4A;
    padding: 5px 8px;
    color: #ffffff;
    border-radius: 5px;
}

.end-meeting-btn {
    display: inline-block;
    text-decoration: none;
    height: 100%;
    padding: 0 20px;
    background-color: #4A4A4A;
    color: #E22421;
    line-height: 10vh;
    font-weight: 600;
}


/*---------*/
/* Top Bar */
/*---------*/

.top-bar {
    width: 100%;
    height: 5vh;
    padding: 10px;
    background-color: #000000;
    justify-content: flex-end;
}

.top-bar .top-btn:first-of-type {
    margin-right: 5px;
}

.top-bar .top-btn:first-of-type i {
    padding-right: 5px;
}


/*------------*/
/* Bottom Bar */
/*------------*/

.bottom-bar {
    width: 100%;
    height: 10vh;
    background-color: #222222;
    color: #ffffff;
}

.bottom-bar .col-33:nth-child(1) a,
.bottom-bar .col-33:nth-child(2) a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.bottom-btn {
    width: max-content;
}

.bottom-btn-col-large {
    min-width: 60px;
    text-align: center;
    width: max-content;
}

.bottom-btn-icon {
    font-size: 30px;
}

.bottom-btn-text {
    font-size: 12px;
}

.bottom-btn-col-small {
    flex-basis: 20px;
    text-align: center;
}

.bottom-bar .col-33:last-child {
    justify-content: flex-end;
}